@model IEnumerable<ReviewSiteMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>DESTINATION REVIEWS</h2>

<p>
    @Html.ActionLink("Write A Review", "Create")
</p>
@* Took out table colums and row. Replaces with thumbnails with buttons that lead to more details *@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Destination.UserDestination)</h3>
                    <p>@Html.DisplayNameFor(model => model.Lodging): @Html.DisplayFor(modelItem => item.Lodging)</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ReviewID }, new { @class = "btn btn-primary", role = "button" })</p>
                </div>
            </div>
        </div>
    }
</div>

